<?xml version="1.0"?>
<launch>
  <param name="num_topics" value="1" />
  <param name="num_threads" value="8" />
  <node pkg="image_compress_pkg" type="image_compress_pkg_node" name="image_compress_pkg">
    <remap from="/camera_0/image_raw" to="/camera_name/image_raw" />
    <remap from="/camera_0/thread/compressed" to="/camera_name/image_raw" />
  </node>
</launch>
